:host {
  display: inline-block;
  line-height: 0;
}

.logo-icon {
  display: inline-block;
  mask: url('/logo.svg') no-repeat center;
  -webkit-mask: url('/logo.svg') no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
}
