CTP_PROJECT_KEY=your_project_key
CTP_CLIENT_ID=your_client_id
CTP_CLIENT_SECRET=your_client_secret
CTP_API_URL=https://api.eu-central-1.aws.commercetools.com
CTP_AUTH_URL=https://auth.eu-central-1.aws.commercetools.com
CTP_SCOPES="view_products:your_project_key view_standalone_prices:your_project_key view_published_products:your_project_key view_tax_categories:your_project_key manage_sessions:your_project_key view_discount_codes:your_project_key view_project_settings:your_project_key manage_order_edits:your_project_key view_cart_discounts:your_project_key view_sessions:your_project_key view_types:your_project_key manage_orders:your_project_key view_shipping_methods:your_project_key view_categories:your_project_key view_product_selections:your_project_key manage_customers:your_project_key manage_shopping_lists:your_project_key create_anonymous_token:your_project_key"

NG_APP_CTP_PROJECT_KEY=your_project_key
NG_APP_CTP_CLIENT_ID=your_client_id
NG_APP_CTP_CLIENT_SECRET=your_client_secret
NG_APP_CTP_API_URL=https://api.eu-central-1.aws.commercetools.com
NG_APP_CTP_AUTH_URL=https://auth.eu-central-1.aws.commercetools.com
NG_APP_CTP_SCOPES="view_products:your_project_key view_standalone_prices:your_project_key view_published_products:your_project_key view_tax_categories:your_project_key manage_sessions:your_project_key view_discount_codes:your_project_key view_project_settings:your_project_key manage_order_edits:your_project_key view_cart_discounts:your_project_key view_sessions:your_project_key view_types:your_project_key manage_orders:your_project_key view_shipping_methods:your_project_key view_categories:your_project_key view_product_selections:your_project_key manage_customers:your_project_key manage_shopping_lists:your_project_key create_anonymous_token:your_project_key"
