<div class="header">
  @if (isDefault()) {
    <span class="header__default">Default</span>
  }
  <span class="header__recipient">{{ recipientName() }}</span>
  <button class="header__action" type="button" aria-label="Edit address" (click)="onEdit()">
    <mat-icon>edit</mat-icon>
  </button>
  <button class="header__action" type="button" aria-label="Remove address" (click)="onRemove()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
<div class="content">
  <span class="content__item">{{ streetLine() }}</span>
  <span class="content__item">{{ cityLine() }}</span>
  @if (address().phone) {
    <span class="content__item">{{ address().phone }}</span>
  }
</div>
