<div class="header">
  <span class="header__title">{{ delivery().label }}</span>
  @if (delivery().isDefault) {
    <span class="header__default">Default</span>
  }
  <button class="header__action" type="button" aria-label="Edit address" (click)="onEdit()">
    <mat-icon>edit</mat-icon>
  </button>
</div>
<div class="content">
  <span class="content__item">{{ recipientName() }}</span>
  <span class="content__item">{{ streetLine() }}</span>
  <span class="content__item">{{ cityLine() }}</span>
</div>
